<h1>Sign Up</h1>
<p>Please enter your data</p>
<br>
<form method="post">
	<label for="email">Enter email here:</label>
	<input id="email" type="text" name="email" placeholder="Your email">
	<label for="password">Enter password here:</label>
	<input id="password" type="text" name="password" placeholder="Your password">
	<input type="submit" name="" value="Sign Up">
</form>